<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
    <head>
      <title>Smart Building Data Visualization | <%= yield(:title)%></title>
    </head>
    <body>
        <p>
          Welcome to the Smart Building Data Visualization home page.
        </p>
    </body>
</html>