<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <a href="/"><img src="/assets/cmusv_logo.jpg" width="256" height="64"  alt=""/></a>
      </nav>
    </div>
  </div>
</header>